{% extends 'base.html.twig' %}

{% block title %}SousCat{% endblock %}

{% block body %}
    <h1>SousCat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sous_cat.id }}</td>
            </tr>
            <tr>
                <th>NumSousCat</th>
                <td>{{ sous_cat.numSousCat }}</td>
            </tr>
            <tr>
                <th>LibelleSousCat</th>
                <td>{{ sous_cat.libelleSousCat }}</td>
            </tr>
            <tr>
                <th>LibelleCat</th>
                <td>{{ sous_cat.libelleCat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sous_cat_index') }}">back to list</a>

    <a href="{{ path('sous_cat_edit', {'id': sous_cat.id}) }}">edit</a>

    {{ include('sous_cat/_delete_form.html.twig') }}
{% endblock %}
