<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inscrit</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/login/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="/login/css/main.css">
    <!--===============================================================================================-->
</head>
<style>
    .wrap-login100{background-image: -webkit-linear-gradient( rgb(18, 170, 244), rgb(5, 32, 136));
        background-image:-moz-linear-gradient(rgb(18, 170, 244), rgb(5, 32, 136));
    }
    .container-login100::before {
        background-color: rgba(255,255,255,0.8);}
</style>
<body>

<div class="limiter">
    <div class="container-login100" style="background-image: url('/images/IMG_3582.JPG');">
        <div class="">

            <table class="table" style="color: black">
        <thead>
            <tr>
                <th>Email</th>
                <th>Sinoda</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inscrit in inscrits %}
            <tr>
                <td>{{ inscrit.email }}</td>
                <td>{{ inscrit.sinoda }}</td>
                <td>{{ inscrit.password }}</td>
                <td>
                    <button class="btn" style="background-color: #1D00AF">
                    <a href="{{ path('inscrit_show', {'id': inscrit.id}) }}" class="txt1">Voir</a>
                </button></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <div class="text-center p-t-90">
                <a class="txt1" href="{{ path('safidy') }}" style="color: #1D00AF;">back</a>
            </div>
            <!--===============================================================================================-->
            <script src="/login/vendor/jquery/jquery-3.2.1.min.js"></script>
            <!--===============================================================================================-->
            <script src="/login/vendor/animsition/js/animsition.min.js"></script>
            <!--===============================================================================================-->
            <script src="/login/vendor/bootstrap/js/popper.js"></script>
            <script src="/login/vendor/bootstrap/js/bootstrap.min.js"></script>
            <!--===============================================================================================-->
            <script src="/login/vendor/select2/select2.min.js"></script>
            <!--===============================================================================================-->
            <script src="/login/vendor/daterangepicker/moment.min.js"></script>
            <script src="/login/vendor/daterangepicker/daterangepicker.js"></script>
            <!--===============================================================================================-->
            <script src="/login/vendor/countdowntime/countdowntime.js"></script>
            <!--===============================================================================================-->
            <script src="/login/js/main.js"></script>

</body>
</html>

